{% extends 'base.html' %} {% block content %} {% for message in
get_flashed_messages() %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{ message }}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>

{% endfor %}

<br />
<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
  <h1>{{ bug.title }}</h1>
  <br />
  By: {{ bug.author }} | Closed: {{ bug.closed }} | {{ bug.date_added }}
  <br /><br />
  {% if current_user.is_authenticated %}
  <a
    href="{{ url_for('bugs_edit', id=bug.id)}}"
    class="btn btn-outline-secondary"
    >Edit Bug</a
  >
  <a href="{{ url_for('bugs_close', id=bug.id)}}" class="btn btn-outline-danger"
    >Close Bug</a
  >
  {% endif %} <br /><br />{{ bug.description }} <br /><br />
</div>

{% endblock %}
